@font-face {
  font-family: cerapro-black_italic;
  src: url("cera pro sv/Cera Pro Black Italic.otf");
}

@font-face {
  font-family: cerapro-black;
  src: url("cera pro sv/Cera Pro Black.otf");
}

@font-face {
  font-family: cerapro-bold;
  src: url("cera pro sv/Cera Pro Bold.otf");
}

@font-face {
  font-family: cerapro-light;
  src: url("cera pro sv/Cera Pro Light.otf");
}

@font-face {
  font-family: cerapro-medium;
  src: url("cera pro sv/Cera Pro Medium.otf");
}

@font-face {
  font-family: cerapro-reg_italic;
  src: url("cera pro sv/Cera Pro Regular Italic.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cerapro-bold;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_section_wrap {
  position: relative;
  width: 100%;
  height: 1080px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)); */
}
.header_row {
  position: relative;
}
.overlay {
  width: 100%;
  height: 164px;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  top: 0;
  border: none;
}

.notification_bar {
  width: 100%;
  background-color: #724535;
  text-align: center;
  position: relative;
}

.notification_bar a {
  display: block;
  color: #fff;
  font-size: 21px;
  padding: 10px;
}

#header_video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.menu {
  max-width: 90%;
}
.header_logo img {
  max-width: 205px;
}

.shop_all a {
  font-size: 22px;
}

.main_menu {
  margin-top: 30px;
}

.main_menu_ li a {
  font-size: 22px;
  margin-left: 30px;
}

.shop_all a {
  margin-left: 20px;
}

.right_menu {
  margin-top: 26px;
}

.free_consult a {
  display: inline-block;
  padding: 5px 20px;
  background-color: #f3cf90;
  border-radius: 3px;
  font-size: 22px;
  color: #000;
  transition: transform 0.2s ease;
}

.free_consult a:hover {
  color: #bd472a;
  background-color: #f4c16a;
  transform: scale(0.97);
}
.icons {
  font-size: 30px;
}

.embrace {
  font-size: 26px;
  color: #fff;
  letter-spacing: 0.5cm;
  margin-bottom: 30px;
}

.header_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.feel {
  position: relative;
  font-size: 90px;
  font-family: cerapro-light;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3cm;
  margin-bottom: 30px;
}
.feel::before {
  content: "";
  position: absolute;
  top: 0;
  background: yellow;
  display: block;
  height: 2px;
  width: 500px;
  left: calc(50% - 250px);
}

.shopbtn {
  display: inline-block;
  background: #bd472a;
  font-size: 24px;
  padding: 10px 20px;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.shopbtn:hover {
  color: white;
  transform: scale(1.1);
}

.starter_pack_wrap {
  background-image: url("images/starter-bg.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.starter_pack {
  max-width: 90%;
  margin: 0 auto;
}
.starter_pack_content {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.line1 {
  text-decoration: underline 2px;
  font-size: 21px;
  font-family: cerapro-light;
}

.line2 {
  font-size: 55px;
}

.get_started_Btn {
  font-size: 17px;
  background: #bd472a;
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
}

.line3 {
  margin-top: 50px;
  font-size: 22px;
  font-family: cerapro-light;
  font-weight: bold;
}

.line3sub {
  color: #bd472a;
}

.pack_img {
  position: relative;
}
.pack_img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  position: relative;
  font-size: 26px;
  text-align: justify;
  background-image: url("images/check.png");
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.impact {
  width: 62%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;

  margin-left: 30px;
}

.box-check i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1dab4;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.custom {
  margin-left: 0;
}

.line3custom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-check p {
  font-size: 26px;
  margin-bottom: 0;
  margin-left: 10px;
}

.putting_back_wrap {
  background-image: url("images/bg-mountain.webp");
}

.putting_back {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.product_detail {
  width: 100%;
  padding-left: 50px;
}

.product_img {
  background-image: url("images/Pasture-cow.avif"), url("images/GrassFed.avif");
  background-repeat: no-repeat;
  background-position: 0% 55%, 78% 41%;
  padding-left: 20px;
}

.product_img img {
  width: 100%;
}
